.Home {
    text-align: center;
    padding: 20px;
  }
  
  .Home nav ul {
    list-style: none;
    padding: 0;
  }
  
  .Home nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .Home nav ul li a {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
  }
  
  .Home nav ul li a:hover {
    color: #45a049;
  }
  